@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* VALUES */

:root {
  --color-primary-dark-1: #1db588;
  --color-primary-dark-2: #1aa179;
  --color-primary-dark-3: #168d6a;
  --color-primary-dark-4: #13795b;
  --color-primary-dark-5: #10654c;
  --color-primary-dark-6: #0d503c;
  --color-primary-dark-7: #0a3c2d;
  --color-primary-dark-8: #06281e;
  --color-primary-dark-9: #03140f;
  --color-primary: #20c997;
  --color-primary-light-1: #36cea1;
  --color-primary-light-2: #4dd4ac;
  --color-primary-light-3: #63d9b6;
  --color-primary-light-4: #79dfc1;
  --color-primary-light-5: #90e4cb;
  --color-primary-light-6: #a6e9d5;
  --color-primary-light-7: #bcefe0;
  --color-primary-light-8: #d2f4ea;
  --color-primary-light-9: #e9faf5;

  --color-secondary-dark-1: #e3b017;
  --color-secondary-dark-2: #ca9d14;
  --color-secondary-dark-3: #b08912;
  --color-secondary-dark-4: #97760f;
  --color-secondary-dark-5: #7e620d;
  --color-secondary-dark-6: #654e0a;
  --color-secondary-dark-7: #4c3b07;
  --color-secondary-dark-8: #322705;
  --color-secondary-dark-9: #191402;
  --color-secondary: #fcc419;
  --color-secondary-light-1: #fcca30;
  --color-secondary-light-2: #fdd047;
  --color-secondary-light-3: #fdd65e;
  --color-secondary-light-4: #fddc75;
  --color-secondary-light-5: #fee28c;
  --color-secondary-light-6: #fee7a3;
  --color-secondary-light-7: #feedba;
  --color-secondary-light-8: #fef3d1;
  --color-secondary-light-9: #fff9e8;

  --color-tertiary-dark-1: #e66060;
  --color-tertiary-dark-2: #cc5656;
  --color-tertiary-dark-3: #b34b4b;
  --color-tertiary-dark-4: #994040;
  --color-tertiary-dark-5: #803636;
  --color-tertiary-dark-6: #662b2b;
  --color-tertiary-dark-7: #4c2020;
  --color-tertiary-dark-8: #331515;
  --color-tertiary-dark-9: #190b0b;
  --color-tertiary: #ff6b6b;
  --color-tertiary-light-1: #ff7a7a;
  --color-tertiary-light-2: #ff8989;
  --color-tertiary-light-3: #ff9797;
  --color-tertiary-light-4: #ffa6a6;
  --color-tertiary-light-5: #ffb5b5;
  --color-tertiary-light-6: #ffc4c4;
  --color-tertiary-light-7: #ffd3d3;
  --color-tertiary-light-8: #ffe1e1;
  --color-tertiary-light-9: #fff0f0;

  --color-primary-opacity: rgba(32, 201, 150, 0.5);
  --color-primary-3-opacity: rgba(22, 141, 105, 0.4);

  --color-grey-light-1: #474747;
  --color-grey-light-2: #5c5c5c;
  --color-grey-light-3: #707070;
  --color-grey-light-4: #858585;
  --color-grey-light-5: #999999;
  --color-grey-light-6: #adadad;
  --color-grey-light-7: #c2c2c2;
  --color-grey-light-8: #d6d6d6;
  --color-grey-light-9: #ebebeb;
  --color-grey: #333333;
  --color-grey-dark-1: #2e2e2e;
  --color-grey-dark-2: #292929;
  --color-grey-dark-3: #242424;
  --color-grey-dark-4: #1f1f1f;
  --color-grey-dark-5: #1a1a1a;
  --color-grey-dark-6: #141414;
  --color-grey-dark-7: #0f0f0f;
  --color-grey-dark-8: #0a0a0a;
  --color-grey-dark-9: #050505;

  --color-black: #000000;
  --color-white: #ffffff;

  --background-gradient-1: linear-gradient(
    90deg,
    rgba(144, 228, 203, 0.7906512946975666) 0%,
    rgba(22, 141, 106, 0.7934524151457458) 100%
  );
}

/* GLOBAL SETUP */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 300;
  color: var(--color-grey);

  background-color: var(--color-white);
  /* background-color: var(--color-grey-light-9); */
}

.container {
  /* max-width: 120rem;
  margin: 0 auto; */
}

/*  */

.mb-24 {
  margin-bottom: 2.4rem;
}
.mb-16 {
  margin-bottom: 1.6rem;
}

/* TEXT */

.heading--primary {
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--color-grey);
}

.heading--secondary {
  font-size: 2.4rem;
}

/* NAVIGATION */

.nav-bar {
  /* background-color: var(--color-secondary-light-2); */
  /* width: 100vw; */
  height: 15vh;
  padding: 0rem 12rem;
  display: grid;

  grid-template-columns: min-content 1fr max-content;

  gap: 12rem;

  align-items: center;
}

.nav-logo {
  height: 8rem;

  transition: all 0.3s;
}

.nav-logo:hover {
  transform: scale(1.05);
}

.nav-list {
  list-style-type: none;
  display: grid;

  align-items: center;

  grid-template-columns: repeat(2, max-content);

  gap: 4rem;
}

.nav-list__item {
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;

  color: var(--color-grey-light-2);

  position: relative;
}

.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--color-primary);
  top: 2rem;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-link__active {
  border-bottom: 2px solid var(--color-primary-dark-5);
  color: var(--color-primary-dark-2);
}

/* NAVBAR DASHBOARD */

.container__dashboard {
  /* min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */

  position: relative;
}

.nav-dash {
  height: 15vh;
  padding: 2.8rem 12rem;
  display: grid;

  grid-template-columns: min-content 1fr max-content;

  gap: 12rem;

  align-items: center;
}

.nav__menu {
  /* background-color: orange; */
}

.nav__menu--item {
  display: grid;

  grid-template-columns: max-content 1fr;
  gap: 0.8rem;
}

/* STICKY NAVBAR */
.sticky {
  position: fixed;

  z-index: 100;

  background-color: var(--color-white);

  width: 100%;

  transition: all 0.3s;

  opacity: 0.9;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* HEADER */
.header {
  /* background-color: var(--color-tertiary-light-2); */
  padding: 0 16rem;
  height: 85vh;
  display: grid;

  grid-template-columns: 1fr 1fr;

  align-items: center;

  gap: 4.8rem 0;
  /* grid-template-rows: repeat(2, min-content); */
}

.header__heading {
  align-self: end;
  /* margin-top: 3.2rem; */
}

.header__text {
  font-size: 1.4rem;
  line-height: 1.8;
  grid-row: 2 / 3;

  align-self: start;

  color: var(--color-grey-light-2);
}

.heading__highlight {
  position: relative;

  font-size: 4rem;
  color: var(--color-white);
  /* padding: 0.8rem 0; */
  margin: 0 0.8rem;
}

.heading__highlight::after {
  content: '';

  display: block;
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-color: var(--color-primary-dark-1);

  z-index: -1;

  padding: 0.8rem;

  background: var(--background-gradient-1);

  transform: scale(1.1) skewX(-15deg);
}

.header__image {
  /* grid-column: 2 / 3;
  grid-row: 1 / 3; */

  justify-self: center;
  /* align-self: center; */

  grid-area: 1 / 2 / 4 / 3;

  height: 40rem;
}

.header__buttons {
  align-self: start;

  transform: translateY(-6.2rem);

  display: grid;

  grid-template-columns: repeat(2, max-content);

  gap: 0 3.2rem;
}

/* SECTION FEATURES */
.section-features {
  padding: 6.2rem 16rem;
  /* max-width: 100rem; */
}

.features__images {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  justify-content: center;
  justify-items: center;
  align-items: center;
}

.features__image {
  width: 12rem;

  filter: brightness(0);
  opacity: 50%;
}

/* SECTION ABOUT */
.section-about {
  height: 85vh;
  padding: 8rem 16rem;

  display: grid;

  grid-template-columns: repeat(2, 1fr);

  align-items: center;

  gap: 0 3.2rem;
}

.about-image {
  width: 50rem;

  /* grid-column: 2 / 3; */
  grid-area: 1 / 2 / 4 / 3;
}

.about-heading {
  align-self: center;
}

.about-team {
  /* justify-self: end; */
  display: flex;

  /* gap: 1.2rem; */
}

/* .about-avatar {
  border-radius: 50%;
  border: 3px solid orange;
  width: 4.8rem;
} */

.about-team img {
  border-radius: 50%;
  border: 3px solid var(--color-primary);
  width: 4.8rem;
  margin-right: -1.6rem;
}

/* .about-avatar__1 {
  margin-right: -1.6rem;
}
.about-avatar__2 {
  margin-right: -1.6rem;
}
.about-avatar__3 {
  margin-right: -1.6rem;
}
.about-avatar__4 {
  margin-right: -1.6rem;
} */

/* Section Register */
.section-register {
  height: 85vh;
  padding: 8rem 16rem;

  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 0 3.2rem;
}

.register__container-content {
  display: grid;

  /* justify-content: center; */

  gap: 2rem;

  grid-template-rows: repeat(2, min-content) 1fr;
}

.register__img {
  height: 40rem;
}

.register-heading {
  /* grid-area: 1 / 2 / 3 / 3; */
  margin-bottom: 3.2rem;
  color: var(--color-grey-light-2);
}

.register-form {
  margin-top: 2.4rem;
  display: grid;
  gap: 12rem;

  grid-template-rows: repeat(2, min-content);
}

.register-form__images {
  margin-top: 1.6rem;
  display: grid;

  grid-template-rows: repeat(3, min-content);

  gap: 2.8rem 0;
}
.register__container-image {
}

/* SECTION REGISTER VERIFY */

.section-register__verify {
  height: 100vh;

  padding: 8rem 16rem;

  display: grid;

  grid-template-columns: repeat(2, 1fr);

  justify-items: center;
}

.section-register__verify-image img {
  height: 50rem;
}

.section-register__verify-content {
  padding-top: 4.8rem;
  justify-self: start;

  display: grid;

  grid-template-rows: repeat(2, max-content);

  gap: 3.2rem;
}

.register__verify--text {
}

.register__valid {
  margin-top: 3.2rem;

  display: grid;

  gap: 1.2rem;
}

.register__result {
  margin-top: 3.2rem;

  display: grid;

  grid-template-rows: repeat(2, max-content);

  gap: 1.6rem;

  justify-items: start;
  align-items: start;
}

.register__result--heading {
  /* background-color: var(--color-primary-light-3); */
}

.register__result--text {
  /* background-color: var(--color-tertiary); */
}

.form-control {
  display: grid;

  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content 1fr;

  align-items: center;
}

.form-control__register {
  display: grid;

  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content max-content;

  align-items: center;

  gap: 1.2rem 0;
}

.form-control__image {
  display: grid;

  grid-template-columns: 1fr 2fr 1fr;

  align-items: center;
}

.form-control__image img {
  justify-self: end;
  width: 4.8rem;
}

.form-buttons {
  justify-self: end;
  align-self: start;
  display: grid;

  grid-template-columns: repeat(2, min-content);
  gap: 1.6rem;
}

.form-label {
  font-size: 1.8rem;
  font-weight: 400;

  color: var(--color-primary-dark-6);
}

.form-label__register {
  grid-row: 1 / 3;
  align-self: center;
}

.form-input {
  padding: 1.6rem 3.2rem;
  border: none;
  border-radius: 4px;

  font-size: 1.4rem;

  letter-spacing: 0.2rem;

  background-color: var(--color-primary-light-9);
}

.form-input__disabled {
  border: 2px solid var(--color-tertiary-dark-3);
}

.form-input:focus {
  outline: none;
  /* border: 2px solid black; */
  border: 2px solid var(--color-primary-dark-5);
}

.form-input__register {
  grid-column: 2 / 3;
}

.form-control__2 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.form-control__pwd {
  /* grid-template-columns: 1fr min-content; */

  /* column-gap: 1.2rem; */

  position: relative;
}

.form-label__pwd {
  /* grid-area: 1 / 1 / 2 / 3; */
}

.form__error {
  font-size: 1.4rem;
  color: var(--color-tertiary-dark-1);
}

.form__success {
  font-size: 1.4rem;
  color: var(--color-primary-light-1);
}

.form-input__error {
  border: 2px solid var(--color-tertiary-dark-3);
}

.form-input__success {
  border: 2px solid var(--color-primary-light-3);
}

.form-input__pwd {
}

.btn__pwd {
  position: absolute;

  top: 65%;
  right: 1.2rem;
  /* background-color: var(--color-primary-light-9); */
  background-color: inherit;
  border: none;

  /* transform: translateY(300%); */

  transition: all 0.3s;
  cursor: pointer;
}

.icon__pwd {
  font-size: 1.8rem;
  color: var(--color-primary-dark-5);

  /* transform: translateX(-1.6rem); */
}

.form__alert {
  position: relative;
  border-radius: 4px;

  padding: 0.8rem 1.2rem;
  justify-self: center;

  display: grid;

  justify-items: center;
}

.form__alert--success {
  background-color: var(--color-primary-light-6);
  border-top: 4px solid var(--color-primary-dark-5);
}

.form__alert--error {
  background-color: var(--color-tertiary-light-2);
  border-top: 4px solid var(--color-tertiary-dark-5);
}

.form__alert--processing {
  background-color: var(--color-secondary-light-4);
  border-top: 4px solid var(--color-secondary-dark-5);
}

.form__alert p {
  color: var(--color-white);
}

.form__alert button {
  padding: 2px;
  position: absolute;
  top: 0;
  right: 0;

  transform: translate(0, -50%);

  border: none;
  border-radius: 50%;
  background-color: inherit;

  transition: all 0.3s;
  cursor: pointer;
}

.form__alert--close {
}

/* LOGIN */
.section-login {
  height: 85vh;
  padding: 8rem 16rem;

  display: grid;

  grid-template-columns: repeat(2, 1fr);

  justify-content: center;
  justify-items: center;
}

.login__container-image {
}

.login__content {
  justify-self: start;

  width: 75%;

  display: grid;

  grid-template-rows: min-content 1fr;
}

.login__container-image img {
  height: 47rem;
}

.login__form {
  /* margin-top: 2.4rem; */
  align-self: center;
  display: grid;

  gap: 2.4rem;
}

.login__heading {
  transform: translateY(-2.8rem);
}
/* ERROR */
.section-error {
  height: 85vh;

  padding: 8rem 16rem;

  display: grid;

  justify-items: center;
}

.error-image {
  height: 50rem;
}

/* SECTION DASHBOARD */
.section-dashboard {
  height: 85vh;

  padding: 6.4rem 16rem;
}

/* FIRST LOGIN */
.section-firstlogin {
  /* padding: 8rem 16rem; */
  height: 100vh;

  background-color: var(--color-grey-light-9);

  display: grid;

  align-items: center;
  justify-items: center;
}

.form__first-login--logo {
  justify-self: center;
  display: grid;

  /* background-color: orange; */

  grid-template-columns: min-content max-content;

  align-items: center;
}
.form__first-login--logo img {
  height: 8.6rem;
}

.form__first-login--headtertiary {
  font-size: 3.2rem;
  font-style: italic;
  color: var(--color-primary);

  letter-spacing: 0.4rem;
}

.form__first-login {
  border-top: 6px solid var(--color-primary-dark-1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 8px;
  padding: 4.8rem 8.6rem;
  background-color: var(--color-white);

  width: 50rem;

  display: grid;

  /* justify-items: center; */

  gap: 1.6rem;
}

.form-control__first-login {
  position: relative;
  display: grid;

  gap: 1.2rem;
}

.form-control__first-login span {
  position: absolute;

  bottom: -2.4rem;
  left: 0;
}

.first-login__span {
  font-size: 1.4rem;
  justify-self: center;

  color: var(--color-secondary-dark-1);

  font-weight: 400;
}

.form-label__first-login {
  font-size: 1.6rem;
  font-weight: 400;

  /* color: var(--color-grey-light-1); */
  color: var(--color-primary-dark-7);
}

.btn-link__first-login {
  border: none;
  background-color: inherit;
  justify-self: center;

  font-size: 1.6rem;
  color: var(--color-primary-dark-7);
  letter-spacing: 0.2rem;

  transition: all 0.3s;
  cursor: pointer;
}

.btn-link__first-login:hover {
  color: var(--color-primary);

  transform: scale(1.1);
}

/* SETTING */
.section-setting {
  min-height: 100vh;
  padding: 8rem 16rem;

  /* background-color: #20c997; */

  display: grid;

  grid-template-rows: max-content minmax(6rem, 8rem) 1fr;
}

/* FOOTER */
.footer {
  border-top: 2px solid var(--color-primary-dark-6);
  padding: 8rem 16rem;
  /* background-color: var(--color-grey-light-9); */

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  justify-items: center;

  gap: 3.2rem 1.6rem;
}

.footer__logo {
  height: 9.2rem;

  align-self: center;
}

.footer__heading {
  font-size: 2.4rem;
  color: var(--color-grey-light-1);
}

.footer__icons-list {
  grid-area: 2 / 1 / 3 / 2;

  display: grid;

  align-items: center;
}

.footer__list {
  list-style: none;

  display: grid;

  gap: 1.6rem 3.2rem;
}

.footer__item {
  font-size: 1.4rem;
}

.footer__contacts {
  display: grid;
  /* gap: 1.2rem; */

  grid-template-columns: max-content 1fr;

  align-items: center;

  gap: 1.6rem;
}

.footer__payments {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
}

.footer__contact-logos {
  display: grid;

  grid-template-columns: repeat(2, min-content);

  gap: 1.6rem;

  /* align-items: center; */
}

.footer__content {
  display: grid;

  grid-template-rows: min-content max-content;

  gap: 1.6rem;
}

.footer__icon {
  font-size: 2.4rem;
}

.footer__icon--contact {
  color: var(--color-primary-light-2);
}

.footer__icon--payment {
  font-size: 3.2rem;
  color: var(--color-primary-dark-5);
}

.footer__copyright {
  align-self: end;
}

/* BUTTON */
.btn {
  font-size: 1.8rem;
  font-weight: 700;

  border: none;

  display: inline-block;
  padding: 1.6rem 3.2rem;

  border-radius: 10rem;

  background-color: var(--color-primary);
  color: var(--color-white);

  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: var(--color-primary-dark-2);
}

.btn-login {
  align-self: center;
}

.btn-contact {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.btn-contact:disabled {
  pointer-events: none;
}

.btn-contact:hover {
  color: #fff;
  background-color: var(--color-primary-light-6);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn-contact:active {
  box-shadow: none;
  transform: translateY(0);
}

.btn-link {
  text-decoration: none;

  color: var(--color-primary-dark-2);
}

/* CSS */
/* .btn-download {
  display: grid;

  align-items: center;
}

.logo-playstore {
}

.btn-text {
} */

.logo-playstore {
  transform: translateY(0.2rem);
}
.btn-download {
  background-color: var(--color-primary-light-7);
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-download:hover {
  background-color: #fff;
}

.btn-download:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .btn-download {
    min-width: 120px;
    padding: 0 25px;
  }
}

.btn-contact.btn-register {
  /* grid-column: 2 / 3; */
  align-self: center;
  justify-self: end;
}

.btn-account {
  /* margin-bottom: 2.4rem; */
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1.2;
  border: none;

  background-color: inherit;

  padding: 0.8rem 1.6rem;

  cursor: pointer;
}

/* SPINNER */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid var(--color-primary);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.container__loading {
  height: 100vh;
  grid-column: 1 / 3;
  margin: 0 auto;
  justify-self: center;
  display: grid;

  justify-items: center;

  padding: 6.2rem 0;
}

.indexedStep {
  color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexedStep.accomplished {
  background-color: var(--color-primary-light-5);
}

/* ICON */
.icon-pre {
}

/* SIDEBAR */

/* MODAL */

/* main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.sidebar-toggle {
  position: fixed;
  top: 5.4rem;
  left: 8rem;
  font-size: 2.4rem;
  background: transparent;
  border-color: transparent;
  color: var(--color-primary-dark-5);
  transition: all 0.3s linear;
  cursor: pointer;
  /* animation: bounce 2s ease-in-out infinite; */
}

@keyframes bounce {
  /* 0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(0);
  } */
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/*
=============== 
Modal
===============
*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(102, 102, 102, 0.5);
  display: grid;
  /* place-items: center; */
  transition: all 0.3s linear;

  z-index: 1;
}
/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: var(--clr-white);
  border-radius: var(--radius);
  width: 90vw;
  height: 30vh;
  max-width: var(--fixed-width);
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}
.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
}

/*
=============== 
Sidebar
===============
*/
.sidebar-header {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem; */

  padding: 1.6rem 3.2rem;

  display: grid;

  grid-template-columns: 1fr max-content;

  align-items: center;
}

.sidebar-logo {
  height: 8rem;
}

.close-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--color-primary);
  transition: all 0.3s linear;
  cursor: pointer;
  color: var(--color-tertiary);
  /* margin-top: 0.2rem; */
}
.close-btn:hover {
  color: var(--color-tertiary-light-1);
}

.sidebar-links {
  list-style: none;
  display: grid;

  grid-template-rows: repeat(5, min-content);
  /* align-items: center; */
  padding: 4rem 4.8rem;

  gap: 3.2rem;
}

.sidebar-links li {
  padding: 1.2rem 2.4rem;
  display: grid;

  grid-template-columns: min-content 1fr;
  gap: 2.4rem;

  align-items: center;
}

.sidebar-links li:hover {
  background-color: var(--color-primary-light-7);
}

.sidebar-links a {
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: capitalize;
  color: var(--color-grey);
  transition: all 0.3s linear;
  letter-spacing: 0.1rem;
}

.sidebar-links a:hover {
  color: var(--color-primary-dark-5);
}

.sidebar-links__icon {
  font-size: 2.8rem;
}
/* .links a svg {
  font-size: 1.5rem;
  color: var(--clr-grey-5);
  margin-right: 1rem;
  transition: var(--transition);
} */
/* .links a:hover svg {
  color: var(--clr-grey-4);
} */
.sidebar__social-icons {
  margin-bottom: 3.2rem;
  list-style: none;
  justify-self: center;
  display: grid;
}

.sidebar__social-icons li {
  display: grid;

  grid-template-columns: min-content 1fr;

  align-items: center;

  gap: 1.6rem;
}

.sidebar__social-icons a {
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0 0.5rem;
  color: var(--color-primary-dark-6);
  transition: all 0.3s linear;
}
.sidebar__social-icons a:hover {
  color: var(--color-primary-dark-1);
}

.sidebar-links__icon:hover {
  color: var(--color-primary-dark-7);
}

.sidebar__social-icon {
  font-size: 2.9rem;
  color: var(--color-primary-dark-3);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-white);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 3.2rem;
  box-shadow: var(--color-tertiary-dark-1);
  transition: all 0.3s linear;
  transform: translate(-100%);

  z-index: 10;
}
.show-sidebar {
  transform: translate(0);
}
@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}
