@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* VALUES */

:root {
  --color-primary-dark-1: #1db588;
  --color-primary-dark-2: #1aa179;
  --color-primary-dark-3: #168d6a;
  --color-primary-dark-4: #13795b;
  --color-primary-dark-5: #10654c;
  --color-primary-dark-6: #0d503c;
  --color-primary-dark-7: #0a3c2d;
  --color-primary-dark-8: #06281e;
  --color-primary-dark-9: #03140f;
  --color-primary: #20c997;
  --color-primary-light-1: #36cea1;
  --color-primary-light-2: #4dd4ac;
  --color-primary-light-3: #63d9b6;
  --color-primary-light-4: #79dfc1;
  --color-primary-light-5: #90e4cb;
  --color-primary-light-6: #a6e9d5;
  --color-primary-light-7: #bcefe0;
  --color-primary-light-8: #d2f4ea;
  --color-primary-light-9: #e9faf5;

  --color-secondary-dark-1: #e3b017;
  --color-secondary-dark-2: #ca9d14;
  --color-secondary-dark-3: #b08912;
  --color-secondary-dark-4: #97760f;
  --color-secondary-dark-5: #7e620d;
  --color-secondary-dark-6: #654e0a;
  --color-secondary-dark-7: #4c3b07;
  --color-secondary-dark-8: #322705;
  --color-secondary-dark-9: #191402;
  --color-secondary: #fcc419;
  --color-secondary-light-1: #fcca30;
  --color-secondary-light-2: #fdd047;
  --color-secondary-light-3: #fdd65e;
  --color-secondary-light-4: #fddc75;
  --color-secondary-light-5: #fee28c;
  --color-secondary-light-6: #fee7a3;
  --color-secondary-light-7: #feedba;
  --color-secondary-light-8: #fef3d1;
  --color-secondary-light-9: #fff9e8;

  --color-tertiary-dark-1: #e66060;
  --color-tertiary-dark-2: #cc5656;
  --color-tertiary-dark-3: #b34b4b;
  --color-tertiary-dark-4: #994040;
  --color-tertiary-dark-5: #803636;
  --color-tertiary-dark-6: #662b2b;
  --color-tertiary-dark-7: #4c2020;
  --color-tertiary-dark-8: #331515;
  --color-tertiary-dark-9: #190b0b;
  --color-tertiary: #ff6b6b;
  --color-tertiary-light-1: #ff7a7a;
  --color-tertiary-light-2: #ff8989;
  --color-tertiary-light-3: #ff9797;
  --color-tertiary-light-4: #ffa6a6;
  --color-tertiary-light-5: #ffb5b5;
  --color-tertiary-light-6: #ffc4c4;
  --color-tertiary-light-7: #ffd3d3;
  --color-tertiary-light-8: #ffe1e1;
  --color-tertiary-light-9: #fff0f0;

  --color-primary-opacity: rgba(32, 201, 150, 0.5);
  --color-primary-3-opacity: rgba(22, 141, 105, 0.4);

  --color-grey-light-1: #474747;
  --color-grey-light-2: #5c5c5c;
  --color-grey-light-3: #707070;
  --color-grey-light-4: #858585;
  --color-grey-light-5: #999999;
  --color-grey-light-6: #adadad;
  --color-grey-light-7: #c2c2c2;
  --color-grey-light-8: #d6d6d6;
  --color-grey-light-9: #ebebeb;
  --color-grey: #333333;
  --color-grey-dark-1: #2e2e2e;
  --color-grey-dark-2: #292929;
  --color-grey-dark-3: #242424;
  --color-grey-dark-4: #1f1f1f;
  --color-grey-dark-5: #1a1a1a;
  --color-grey-dark-6: #141414;
  --color-grey-dark-7: #0f0f0f;
  --color-grey-dark-8: #0a0a0a;
  --color-grey-dark-9: #050505;

  --color-black: #000000;
  --color-white: #ffffff;

  --background-gradient-1: linear-gradient(
    90deg,
    rgba(144, 228, 203, 0.7906512946975666) 0%,
    rgba(22, 141, 106, 0.7934524151457458) 100%
  );
}

/* GLOBAL SETUP */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 300;
  color: var(--color-grey);

  background-color: var(--color-white);
  /* background-color: var(--color-grey-light-9); */
}

.container {
}

/* TEXT */

.heading--primary {
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--color-grey);
}

/* NAVIGATION */

.nav-bar {
  /* background-color: var(--color-secondary-light-2); */
  height: 15vh;
  padding: 1.2rem 6.2rem;
  display: grid;

  grid-template-columns: min-content 1fr max-content;

  gap: 12rem;
}

.nav-logo {
  height: 8rem;
}

.nav-list {
  list-style-type: none;
  display: grid;

  align-items: center;

  grid-template-columns: repeat(2, max-content);

  gap: 4rem;
}

.nav-list__item {
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;

  color: var(--color-grey-light-2);
}

/* HEADER */
.header {
  /* background-color: var(--color-tertiary-light-2); */
  padding: 0 12rem;
  height: 85vh;
  display: grid;

  grid-template-columns: 1fr 1fr;

  align-items: center;

  gap: 6.2rem 0;
  /* grid-template-rows: repeat(2, min-content); */
}

.header__heading {
  align-self: end;
  /* margin-top: 3.2rem; */
}

.header__text {
  font-size: 1.4rem;
  line-height: 1.8;
  grid-row: 2 / 3;

  align-self: start;

  color: var(--color-grey-light-2);
}

.heading__highlight {
  position: relative;

  font-size: 4rem;
  color: var(--color-white);
  /* padding: 0.8rem 0; */
  margin: 0 0.8rem;
}

.heading__highlight::after {
  content: '';

  display: block;
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-color: var(--color-primary-dark-1);

  z-index: -1;

  padding: 0.8rem;

  background: var(--background-gradient-1);

  transform: scale(1.1) skewX(-15deg);
}

.header__image {
  /* grid-column: 2 / 3;
  grid-row: 1 / 3; */

  justify-self: center;
  /* align-self: center; */

  grid-area: 1 / 2 / 3 / 3;

  height: 40rem;
}

/* BUTTON */
.btn {
  font-size: 1.8rem;
  font-weight: 700;

  border: none;
  padding: 1.6rem 3.2rem;

  border-radius: 4px;

  background-color: var(--color-primary);
  color: var(--color-white);

  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-primary-dark-2);
}

.btn-login {
  align-self: center;
}
