@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* VALUES */

:root {
  --color-primary-dark-1: #1db588;
  --color-primary-dark-2: #1aa179;
  --color-primary-dark-3: #168d6a;
  --color-primary-dark-4: #13795b;
  --color-primary-dark-5: #10654c;
  --color-primary-dark-6: #0d503c;
  --color-primary-dark-7: #0a3c2d;
  --color-primary-dark-8: #06281e;
  --color-primary-dark-9: #03140f;
  --color-primary: #20c997;
  --color-primary-light-1: #36cea1;
  --color-primary-light-2: #4dd4ac;
  --color-primary-light-3: #63d9b6;
  --color-primary-light-4: #79dfc1;
  --color-primary-light-5: #90e4cb;
  --color-primary-light-6: #a6e9d5;
  --color-primary-light-7: #bcefe0;
  --color-primary-light-8: #d2f4ea;
  --color-primary-light-9: #e9faf5;

  --color-secondary-dark-1: #e3b017;
  --color-secondary-dark-2: #ca9d14;
  --color-secondary-dark-3: #b08912;
  --color-secondary-dark-4: #97760f;
  --color-secondary-dark-5: #7e620d;
  --color-secondary-dark-6: #654e0a;
  --color-secondary-dark-7: #4c3b07;
  --color-secondary-dark-8: #322705;
  --color-secondary-dark-9: #191402;
  --color-secondary: #fcc419;
  --color-secondary-light-1: #fcca30;
  --color-secondary-light-2: #fdd047;
  --color-secondary-light-3: #fdd65e;
  --color-secondary-light-4: #fddc75;
  --color-secondary-light-5: #fee28c;
  --color-secondary-light-6: #fee7a3;
  --color-secondary-light-7: #feedba;
  --color-secondary-light-8: #fef3d1;
  --color-secondary-light-9: #fff9e8;

  --color-tertiary-dark-1: #e66060;
  --color-tertiary-dark-2: #cc5656;
  --color-tertiary-dark-3: #b34b4b;
  --color-tertiary-dark-4: #994040;
  --color-tertiary-dark-5: #803636;
  --color-tertiary-dark-6: #662b2b;
  --color-tertiary-dark-7: #4c2020;
  --color-tertiary-dark-8: #331515;
  --color-tertiary-dark-9: #190b0b;
  --color-tertiary: #ff6b6b;
  --color-tertiary-light-1: #ff7a7a;
  --color-tertiary-light-2: #ff8989;
  --color-tertiary-light-3: #ff9797;
  --color-tertiary-light-4: #ffa6a6;
  --color-tertiary-light-5: #ffb5b5;
  --color-tertiary-light-6: #ffc4c4;
  --color-tertiary-light-7: #ffd3d3;
  --color-tertiary-light-8: #ffe1e1;
  --color-tertiary-light-9: #fff0f0;

  --color-fourth: #047edf;
  --color-fifth: #fe7096;

  --color-primary-opacity: rgba(32, 201, 150, 0.5);
  --color-primary-3-opacity: rgba(22, 141, 105, 0.4);

  --color-grey-light-1: #474747;
  --color-grey-light-2: #5c5c5c;
  --color-grey-light-3: #707070;
  --color-grey-light-4: #858585;
  --color-grey-light-5: #999999;
  --color-grey-light-6: #adadad;
  --color-grey-light-7: #c2c2c2;
  --color-grey-light-8: #d6d6d6;
  --color-grey-light-9: #ebebeb;
  --color-grey: #333333;
  --color-grey-dark-1: #2e2e2e;
  --color-grey-dark-2: #292929;
  --color-grey-dark-3: #242424;
  --color-grey-dark-4: #1f1f1f;
  --color-grey-dark-5: #1a1a1a;
  --color-grey-dark-6: #141414;
  --color-grey-dark-7: #0f0f0f;
  --color-grey-dark-8: #0a0a0a;
  --color-grey-dark-9: #050505;

  --color-black: #000000;
  --color-white: #ffffff;

  --background-gradient-1: linear-gradient(
    90deg,
    rgba(144, 228, 203, 0.7906512946975666) 0%,
    rgba(22, 141, 106, 0.7934524151457458) 100%
  );
}

/* GLOBAL SETUP */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 300;
  color: var(--color-grey);

  background-color: var(--color-white);
  /* background-color: var(--color-grey-light-9); */
}

.container {
  /* max-width: 120rem;
  margin: 0 auto; */
}

/*  */

.mb-24 {
  margin-bottom: 2.4rem;
}
.mb-16 {
  margin-bottom: 1.6rem;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 0.8rem;
}

.pt-4 {
  padding-top: 4px;
}

.pt-8 {
  padding-top: 0.8rem;
}

.border__bottom--white {
  border-bottom: 1px solid var(--color-white);
}

.align-self__center {
  align-self: center;
}

.justify-self__end {
  justify-self: end;
}
.justify-self__start {
  justify-self: start;
}

/* TEXT */

.heading--primary {
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--color-grey);
}

.heading--secondary {
  font-size: 2.4rem;
}

/* NAVIGATION */

/* STICKY NAVBAR */
.sticky {
  position: fixed;

  z-index: 100;

  background-color: var(--color-white);

  width: 100%;

  transition: all 0.3s;

  opacity: 0.9;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* HEADER */

/* SECTION ABOUT */

/* .about-avatar__1 {
  margin-right: -1.6rem;
}
.about-avatar__2 {
  margin-right: -1.6rem;
}
.about-avatar__3 {
  margin-right: -1.6rem;
}
.about-avatar__4 {
  margin-right: -1.6rem;
} */

/* Section Register */

/* LOGIN */

/* FORGOT PASSWORD */

/* ERROR */
.section-error {
  height: 85vh;

  padding: 8rem 16rem;

  display: grid;

  justify-items: center;
}

.error-image {
  height: 50rem;
}

/* SECTION DASHBOARD */

/* FIRST LOGIN */

/* SETTING */

/* body {
  background-image: url('./assets/images/background/vecteezy_banner-template-design-with-header-interface-gradient-style_.jpg');
  background-repeat: no-repeat;
} */

/* SECTION BANK */

/* FOOTER */

/* BUTTON */

/* .btn-login {
  align-self: center;
} */

.btn-link {
  text-decoration: none;

  color: var(--color-primary-dark-2);
}

/* CSS */

/* CSS */
/* .btn-download {
  display: grid;

  align-items: center;
}

.logo-playstore {
}

.btn-text {
} */

@media (min-width: 768px) {
  .btn-download {
    min-width: 120px;
    padding: 0 25px;
  }
}

.btn-account {
  /* margin-bottom: 2.4rem; */
}

/* SPINNER */
.container__loading {
  height: 100vh;
  grid-column: 1 / 3;
  margin: 0 auto;
  justify-self: center;
  display: grid;

  justify-items: center;

  padding: 6.2rem 0;
}

.container__loader {
  width: 100%;
  height: 100%;
  display: grid;

  justify-items: center;
  align-items: center;
}

.indexedStep {
  color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexedStep.accomplished {
  background-color: var(--color-primary-light-5);
}

/* loader */
/* ICON */
.icon-pre {
}

/* SIDEBAR */

/* MODAL */

/* main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.sidebar-toggle {
  position: absolute;
  top: 5rem;
  left: 4rem;
  font-size: 2.4rem;
  background: transparent;
  border-color: transparent;
  color: var(--color-primary-dark-5);
  transition: all 0.3s linear;
  cursor: pointer;
  /* animation: bounce 2s ease-in-out infinite; */
}
/* .sidebar-toggle {
  position: fixed;
  top: 5rem;
  left: 4rem;
  font-size: 2.4rem;
  background: transparent;
  border-color: transparent;
  color: var(--color-primary-dark-5);
  transition: all 0.3s linear;
  cursor: pointer;

} */

@keyframes bounce {
  /* 0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(0);
  } */
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/*
=============== 
Modal
===============
*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(102, 102, 102, 0.5);
  display: grid;
  /* place-items: center; */
  transition: all 0.3s linear;

  z-index: 1;
}
/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: var(--clr-white);
  border-radius: var(--radius);
  width: 90vw;
  height: 30vh;
  max-width: var(--fixed-width);
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}
.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
}

/*
=============== 
Sidebar
===============
*/
